# ==========================
# Sistema operativo
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Visual Studio Code
# ==========================
.vscode/

# ==========================
# Variables de entorno
# ==========================
.env

# ==========================
# Python (para el futuro)
# ==========================
__pycache__/
*.pyc
venv/
.venv/

# ==========================
# Logs
# ==========================
*.log